*.gz
*.o
*.swp
*.tar.bz2
.deps
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
pcsc_scan
stamp-h1
ATR_analysis
ATR_analysis.1p
gscriptor.desktop
po/*.gmo